<!DOCTYPE html>
<html>
<head>
  <title>DashboardTemplate</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%= render 'layouts/dashboard/top-nav' %>
  <%= render 'layouts/dashboard/bottom-nav' %>

  <div class="body-content">
    <%= yield %>
  </div>


</body>
</html>
